img {
    height: auto;
    max-width: 100%;
}

hr.extend {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hr {
    text-align: center !important;
    width: 72vw !important;
    height: 1px;
    background-color: #d8d8d8;
}

.mtop {
    margin-top: 20px;
}

.image-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto 0px;
    max-width: 250px;
    max-height: 150px;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 20px;
}

.titulo-noticias {
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.sub-titulo {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.data-publicacao {
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    position: absolute;
    margin-bottom: 5px;
    left: 15px;
    bottom: 0;
}

.compartilhe {
    content: "";
}

.ver-mais {
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
}

.ver-mais-materias {
    text-align: center !important;
    border-top-color: #1a1a1a;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #1a1a1a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 50px;
    margin-bottom: 50px
}